@media (max-width: 575.98px) {
  h1 {
    font-size: 75px;
  }
  .white {
    font-size: 22px;
  }

  .ft {
    margin-bottom: 30px;
  }

  .left {
    margin-bottom: 15px;
  }

  .fleft {
    text-align: center;
    margin-bottom: 25px;
  }

  .fright {
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  h1 {
    font-size: 75px;
  }

  .ft {
    margin-bottom: 30px;
  }

  .left {
    margin-bottom: 15px;
  }

  .fleft {
    text-align: center;
    margin-bottom: 25px;
  }

  .fright {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) {
}
